:root {
    --violet-principal: #6D28D9;
    --blanc: #FFFFFF;
}





.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color:var(--violet-principal);
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-logo img {
    width: 60px;
    height: auto;
}

.navbar-logo h1 a,
.navbar-links a,
.navbar-user a {
    color: white;
    text-decoration: none;
}

.navbar-logo h1 a {
    font-size: 24px;
    font-weight: 700;
}

.navbar-links {
    display: flex;
    gap: 25px;
}

.navbar-links a {
    display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover {
    transform: translateY(-3px);
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
   
}


.texte {
    width: 45%;
}

.texte h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.texte p {
    font-size: 18px;
    line-height: 1.6;
}


.texte a {
    display: inline-block;
    background-color: #6D28D9;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.texte a:hover {
    background-color: #5B21A1;
    transform: translateY(-3px);
}

.image img {
    width: 100%;
    height: auto;
    border-radius:20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

}

.hero {
    background-color: #F7F3FF;
     min-height: 70vh;
}

.burger-menu {
    display: none;
}


@media (max-width: 768px) {


    .navbar-links,
    .navbar-user {
        display: none;
    }
    .hero {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }
    .texte h1 {
        font-size: 32px;
    }

    .texte,
    .image {
        width: 100%;
    }

       .burger-menu {
        display: block;
    }
}